@if (error()) {
  <p role="alert">{{ error() }}</p>
}
<div class="grid-scroll">
  <table>
    <thead>
      <tr>
        <th scope="col">Category</th>
        @for (month of months; track month) {
          <th scope="col">{{ monthShort[month - 1] }}</th>
        }
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories(); track category.id) {
        <tr>
          <th scope="row" class="row-label">
            <app-plan-category-name-input
              [categoryId]="category.id"
              [name]="category.name"
              (nameChange)="nameChange.emit($event)"
            />
            <button
              type="button"
              [attr.aria-label]="'Hide ' + category.name"
              (click)="hide.emit({ id: category.id })"
            >
              Hide
            </button>
          </th>
          @for (month of months; track month) {
            <td>
              <app-plan-amount-cell
                [categoryId]="category.id"
                [month]="month"
                [year]="year()"
                [label]="category.name + ' ' + monthLong[month - 1]"
                [amountCents]="amountFor(category.id, month)"
                (saveError)="onCellError($event)"
                (committed)="onCommitted(category.id, month, $event)"
              />
            </td>
          }
          <td>
            <output [attr.aria-label]="category.name + ' year total'">{{
              yearTotalFor(category.id)
            }}</output>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        @for (month of months; track month) {
          <td>
            <output [attr.aria-label]="'Total ' + monthLong[month - 1]">{{
              sectionTotalFor(month)
            }}</output>
          </td>
        }
        <td>
          <output aria-label="Total year">{{ sectionYearTotal() }}</output>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
